.header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
#logo{
  color: MediumAquaMarine;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
}
#logo h3{
  margin-left: 10px;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  margin-right: 25px;
}
nav ul li{
  flex-direction: row;
  list-style: none;
  width: 50px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
nav ul li a{
  color: black;
}
.container{
  display: flex;
  flex-direction: inline-block;
}
.large {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  margin: 5px;
  width: 630px;
}
.large p{
  border: 1px solid blue;
}
.medium {
  display: flex;
  border: 1px solid blue;
  margin: 5px;
  width: 300px;
}
.small {
  display: flex;
  border: 1px solid blue;
  margin: 5px;
  width: 240px;
}
